.checkout-page {
  min-height: 100vh;
  padding: 100px 6%;
  background: linear-gradient(180deg, #0b1112, #141e20);
  color: #fff;
}

.checkout-title {
  text-align: center;
  font-size: 36px;
  letter-spacing: 2px;
  margin-bottom: 60px;
}

.checkout-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 40px;
}


.checkout-form {
  background: #0f1618;
  padding: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.checkout-form h2 {
  color: #d4af37;
  margin-bottom: 10px;
}

.checkout-form input {
  padding: 14px 16px;
  border-radius: 10px;
  border: none;
  background: #1b2629;
  color: #fff;
}

.checkout-btn {
  margin-top: 20px;
  padding: 14px;
  border-radius: 30px;
  border: none;
  background: #d4af37;
  color: #0b1112;
  font-weight: bold;
  cursor: pointer;
}


.checkout-summary {
  background: #0f1618;
  padding: 40px;
  border-radius: 20px;
}

.checkout-summary h2 {
  color: #d4af37;
  margin-bottom: 20px;
}

.checkout-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 14px;
}

.checkout-total {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 18px;
}


@media (max-width: 768px) {
  .checkout-wrapper {
    grid-template-columns: 1fr;
  }
}
