.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0a0a0a;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-card {
  background: rgba(20, 20, 20, 0.9);
  padding: 100px 50px; /* увеличен padding для высоты */
  border-radius: 20px;
  box-shadow: 0 0 60px 10px rgba(194, 158, 38, 0.5);
  max-width: 580px; /* увеличена ширина */
  width: 100%;
  box-sizing: border-box;
  color: #fff;
}


h2 {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 30px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 14px 18px;
  margin-bottom: 20px;
  background: transparent;
  border: 1.5px solid #c29e26;
  border-radius: 12px;
  font-size: 16px;
  color: #fff;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input::placeholder {
  color: #c29e26cc;
}

input:focus {
  outline: none;
  border-color: #f4d35e;
  box-shadow: 0 0 10px #f4d35e;
}

button[type="submit"] {
  width: 100%;
  padding: 16px 0;
  background: linear-gradient(90deg, #b49121, #e3bc4d);
  border: none;
  border-radius: 15px;
  font-weight: 700;
  font-size: 18px;
  color: #1a1a1a;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow: 0 0 12px #c29e26;
}

button[type="submit"]:hover {
  background: linear-gradient(90deg, #e3bc4d, #b49121);
  box-shadow: 0 0 20px #f4d35e;
}

